@model List<EmployeeManagementSystem.Models.Domain.EmployeeModel>
@{
    int counter = 1;
}

<partial name="~/Views/Shared/_Notification.cshtml" />
<div class="container">
    <div class="row">

        <div class="d-flex flex-column">

            <div class="col-md-10 mb-3">
            <div class="d-flex justify-content-between p-2 " style="background:#0075A2;">
                        <span class="fs-5 mx-2 fw-bold text-white">Employees Dashboard</span>
                     <a asp-controller="Employee" asp-area="" asp-action="Addemployee">
                <ion-icon name="person-add-outline" class="fs-5 mx-3 text-white"></ion-icon>
                 
                </a>
            </div>
            </div>
            <div class="col-md-2">         
            <div class="input-group mb-3">
                <form class="d-flex flex-row" method="get" id="searchform">

                <input name="searchQuery" type="text" class="form-control" id="searchquery" placeholder="Name" aria-label="">
                    <span onclick="submitform();" class="input-group-text bg-opacity-10"><ion-icon name="search-outline"></ion-icon></span>
                </form>
                    
            </div>
            </div>
        </div>

            <div class="col-md-10">
            @if(Model != null)
            {
                
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                         <th scope="col">NO</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone no</th> 
                        <th scope="col">Adress</th> 
                        <th scope="col">Position</th>
                        <th scope="col">Department</th>
                        <th scope="col">Action</th> 
                       
                    </tr>   
                </thead>
                <tbody>
                        
                </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    No data found.
                </div>
            }
            </div>
     
    </div>
</div>
<script src="~/js/dataTableFile.js"></script>
<link href="~/css/datatable.css" rel="stylesheet" />
@section Scripts{

 <script type="text/javascript">
    $(function(){
        // alert("Hello")
        $('#dataTable').DataTable({
                pageLength: 5,
                lengthMenu: [[5, 10, 25, 50], [5, 10, 25, 50]],
                responsive: true,
                ajax: {
                    "url": "/Employee/GetEmployee",
                    "type": "GET",
                    "dataType": "json",
                    dataSrc: '',
                },
                "columns": [


                    { "data": "name" },
                    { "data": "address" },
                    { "data": "salary" },
                    { "data": "phone", orderable: false },
                    { "data": "position" },
                    { "data": "email" },
                    { "data": "department.name" },
                ]
        
        })

     function submitDelete(id) {
         var confirmDelete = confirm("Are you sure?")
         if (confirmDelete) {
             window.location.href = "/Employee/Delete?id="+id
         }
     }
     function submitform() {
         var searchquery = document.getElementById("searchquery").value;
         var form = document.getElementById("searchform");
         if (searchquery === '') {
             event.preventDefault();
         }
         else {
             form.submit();
         }
     }
</script>
}