<div>
    <div class="container">
    <div class="row">
            <div class="col-md-6 pt-5 d-flex flex-column">
            <h3>
                    "Empower Your Workforce, Elevate Your Efficiency: Seamless Employee Management for a Productive Tomorrow."
            </h3>
            <a href="#" class="btn btn-primary w-25">JOIN US</a>
        </div>
            <div class="col-md-6"> 
                <img src="~/image/hero.jpg"  width="100%" height="auto" />
                

            </div>
    </div>
    </div>
</div>